{% load i18n %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% trans "FAST: Gadget Visual Storyboard" %}</title>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" media="screen,projection" href="{{ MEDIA_URL }}style/gvs.css" />

</head>

<body>

<!-- HEADER -->
<![if !IE]>
<div id="header">
  <img id="logo" src="{{ MEDIA_URL }}images/gui/fastLogo.png" alt="FAST Logo">
  <h1>Gadget Visual Storyboard</h1>
</div>

<div id="content-main">
	{% block content %}}{% endblock %}
</div>
<![endif]>

<!--[if IE]>
    <center>
    <p style="font-size: 24px;color:#243C5F;font-weight:bold">
        Your browser is still not suppported, please download the latest version
    of Mozilla Firefox 
    </p>
    <a href="http://getfirefox.com/" title="Get Firefox - The Browser, Reloaded.">
    <img src="{{ MEDIA_URL }}images/gui/getfirefox.png" 
        border="0" alt="Get Firefox" 
        style="margin:20px auto 0; display: block;" />
    </a>
    </center>
<![endif]-->
</body>

</html>