{% extends "registration/base.html" %}
{% load i18n %}
{% block content %}
	<form action="{{ app_path }}" method="post" id="login-form">
	  <div class="form-row">
	  	<table>
	  		<tr><td>
	    		<label for="id_username">{% trans 'Username:' %}</label> 
	    	</td><td>
	    		<input type="text" name="username" id="id_username"/>
	    	</td></tr>
	    	<tr><td>
	    		<label for="id_password">{% trans 'Password:' %}</label> 
	    	</td><td>	
	    		<input type="password" name="password" id="id_password"/>
	    	</td></tr>
	    </table>
	    <input type="submit" value="{% trans 'Log in' %}" />
	  </div>
	  <div class="registration">
		{% trans 'Access with your username and password or ' %}<a href="/register">{% trans 'register' %}</a>
	  </div>
	  {% if expired %}
	  <div class="message">{% trans 'Your register has expired' %}</div>
	  {% endif %}
	  <script type="text/javascript">
		document.getElementById('id_username').focus()
		</script>
	</form>
{% endblock %}