<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Buildingblock Test</title>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/buildingblockdebugger/prototype.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/utils/textarearesizer.js"></script>

  <script type="text/javascript" src="{{ MEDIA_URL }}js/buildingblockdebugger/sprintf-0.6.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/buildingblockdebugger/logger.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/buildingblockdebugger/buildingblock.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/buildingblockdebugger/test.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/buildingblockdebugger/fastAPI.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/buildingblockdebugger/fastAPI_debugger.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/bbdebugger.css" />

  <!--script type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js"></script-->
</head>
<body>

<div id="container">
  <div class="left">
    <h2>Parameters</h2>
    <textarea id="params" rows="3" cols="40"></textarea>
    <h2>Action list</h2>
    <ul id="actions"></ul>
  </div>
  <div class="right">
    <h2>Fact base</h2>
    <div id="facts"></div>
  </div>
</div>

<div id="log"></div>

</body>
</html>
