{% for element in codes %}
    {% ifnotequal element.type 'form' %}
<script type="text/javascript">
    {{element.code|safe}}
</script>
    {% endifnotequal %}
    {% ifequal element.type 'form' %}
{{element.code|safe}}
    {% endifequal %}
    {% for lib in element.libraries %}
<script language="{{lib.language}}" src="{{lib.source}}"></script>
    {% endfor %}
{% endfor %}
<script type="text/javascript">

    var _bb{{id}} = [
{% for element in definition.buildingblocks %}
        {
            object: new BB{{element.buildingblockId}}("{{id}}", "{{element.id}}", {% if element.parameter %}{{element.parameter|safe}}{% else %}null{% endif %}),
            name:"{{element.id}}",
            scope: ScreenEngineFactory.getInstance("{{id}}").getBuildingBlock("{{element.id}}"),
            actions: [
           {% for action in element.actions %}
                    {
                        name: "{{action.name}}",
                        funct: ScreenEngineFactory.getInstance("{{id}}").getBuildingBlock("{{element.id}}").{{action.name}},
                        preconditions:[
               {% for pre in action.preconditions %}
                               {
                                   id:"{{pre.id}}",
                                   pattern:"{{pre.pattern}}",
                       {% if pre.positive %}
                                   positive:{{pre.positive|lower}}
                       {% else %}
                                   positive:true
                       {% endif %}
                               }{% if not forloop.last %},{% endif %}
               {% endfor %}
                            ],
                        uses:[
               {% for use in action.uses %}
                               {
                                   id:"{{use.id}}",
                                   uri:"{{use.uri}}"
                               }{% if not forloop.last %},{% endif %}
               {% endfor %}
                        ]
                    }{% if not forloop.last %},{% endif %}
           {% endfor %}
                  ]
        }{% if not forloop.last %},{% endif %}
{% endfor %}
    ];

    var _piping{{id}} = [
{% for pipe in definition.pipes %}
            {from: {buildingblock: '{{pipe.from.buildingblock}}', condition: '{{pipe.from.condition}}'}, to: {buildingblock: '{{pipe.to.buildingblock}}', action: '{{pipe.to.action}}', condition: '{{pipe.to.condition}}'}}{% if not forloop.last %},{% endif %}
{% endfor %}
        ];

    var _triggers{{id}} = [
{% for trigger in definition.triggers %}
            {from: {buildingblock: '{{trigger.from.buildingblock}}', name: '{{trigger.from.name}}'}, to: {buildingblock: '{{trigger.to.buildingblock}}', action: '{{trigger.to.action}}'}}{% if not forloop.last %},{% endif %}
{% endfor %}
        ];

    var _pres{{id}} = [[
{% for and in pres %}
            {id:"{{and.id}}", pattern: "{{and.pattern}}"}{% if not forloop.last %},{% endif %}
{% endfor %}
        ]];

    var _posts{{id}} = [[
{% for and in posts %}
            {id:"{{and.id}}", pattern: "{{and.pattern}}"}{% if not forloop.last %},{% endif %}
{% endfor %}
        ]];

    ScreenEngineFactory.getInstance("{{id}}").setEngine(ScreenflowEngineFactory.getInstance(), _bb{{id}}, _piping{{id}}, _triggers{{id}}, _pres{{id}}, _posts{{id}});

    ScreenflowEngineFactory.getInstance().addScreenLoader("{{id}}", ScreenEngineFactory.getInstance("{{id}}").restart.bind(ScreenEngineFactory.getInstance("{{id}}")));
</script>
