
{% for element in definition.buildingblocks %}
	{% ifnotequal element.type 'form' %}
<script language="JavaScript">
	{{element.code|safe}}
</script>
	{% endifnotequal %}
	{% ifequal element.type 'form' %}
{{element.code|safe}}
	{% endifequal %}
	{% for lib in element.libraries %}
<script language="{{lib.language}}" src="{{lib.source}}"></script>	
	{% endfor %}
{% endfor %}
<script type="text/javascript">

	var _bb{{id}} = [
{% for element in definition.buildingblocks %}
		{
			object: new BB{{element.buildingblockId}}("{{id}}", "{{element.id}}"),
    		name:"{{element.id}}",
    		scope: ScreenEngineFactory.getInstance("{{id}}").getBuildingBlock("{{element.id}}"),
	        actions: [
	              	{% for action in element.actions %}
	   			 {
	   		         name: "{{action.name}}",
	   		         funct: ScreenEngineFactory.getInstance("{{id}}").getBuildingBlock("{{element.id}}").{{action.name}},
	   		         preconditions:[
	   		{% for pre in action.preconditions %}
	   						{
	   						    id:"{{pre.id}}",
	   						    pattern:"{{pre.pattern}}",
	   						    positive:{{pre.positive|lower}}
	   						}{% if not forloop.last %},{% endif %}
	   		{% endfor %}
	   			     	],
	   		         uses:[
	   		{% for use in action.uses %}
	   						{
	   						    id:"{{use.id}}",
	   						    uri:"{{use.uri}}"
	   						}{% if not forloop.last %},{% endif %}
	   		{% endfor %}
						]
	   		     }{% if not forloop.last %},{% endif %}
	   	{% endfor %}
	   		   ]
		}{% if not forloop.last %},{% endif %}
{% endfor %}
	];

	var _piping{{id}} = [
{% for pipe in definition.pipes %}
			{from: {buildingblock: '{{pipe.from.buildingblock}}', condition: '{{pipe.from.condition}}'}, to: {buildingblock: '{{pipe.to.buildingblock}}', action: '{{pipe.to.action}}', condition: '{{pipe.to.condition}}'}}{% if not forloop.last %},{% endif %}
{% endfor %}

	                 	
		];

	var _triggers{{id}} = [
{% for trigger in definition.triggers %}	                   	
{from: {buildingblock: '{{trigger.from.buildingblock}}', name: '{{trigger.from.name}}'}, to: {buildingblock: '{{trigger.to.buildingblock}}', action: '{{trigger.to.action}}'}}{% if not forloop.last %},{% endif %}
{% endfor %}	                   	
		];               	
	
	var _posts{{id}} = [
{% for or in posts %}
	{% for and in or %}
				{id:"{{and.id}}", pattern: "{{and.pattern}}"}{% if not forloop.last %},{% endif %}	
	{% endfor %}
{% endfor %}
		];
	
	ScreenEngineFactory.getInstance("{{id}}").setEngine(ScreenflowEngineFactory.getInstance(), _bb{{id}}, _piping{{id}}, _triggers{{id}}, _posts{{id}});

	ScreenflowEngineFactory.getInstance().addScreenLoader("{{id}}", ScreenEngineFactory.getInstance("{{id}}").restart.bind(ScreenEngineFactory.getInstance("{{id}}")));
</script>
