/******************
 * #main area     *
 ******************/
html, body,#main { 
    height: 100%; 
    width: 100%; 
    overflow: auto;
    padding: 0; 
    border: 0; 
}

h1{
    margin-top:0px;
    font-family:helvetica,sans-serif;
    font-size:30px;
    display: inline;
}

h2{
    margin:5px 0;
}
h3{
    margin:2px 0;
    font-size:14px;
}
h4{
    margin:4px 0;
    font-size:13px;
}

/******************
 * #header area   *
 ******************/
#header {
    padding:0px;
}
#menu {
    padding: 0px;
    background-color: #E0EAFB;
    border-top: 3px solid rgb(103, 167, 227);
    margin-top: 3px;
}

#header_button {
    float:right;
    margin-right:10px;
}

#greeting {
    float:right;
    margin:5px 10px;
    font-size: 12px;
    text-align: right;
}
.fastLogo {
    padding-top: 5px;
}

/******************
 * login          *
 ******************/
.form-row {
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.form-row input[type="submit"]{
    padding: 3px;
    background-color:#D9E9F9;
    border: 1px solid #B1BADF;
    color: #000000;
    margin-top: 5px;
}

.form-row table {
    text-align: left;
}

#content-main .registration {
    text-align:center;
}

#content-main .message {
    color:red;
    text-align:center;
}


/******************
 * toolbar        *
 ******************/
/* Modifying toolbar interface */
.soria .dijitToolbar {
    background-image: url('../images/gui/toolbar/toolbar_bg.png');    
}

.dijitMenuItem.dijitMenuItemSelected, .dijitMenuItemLabel.dijitMenuItem.dijitMenuItemHover  {
    background-color: #6189C4;
    color: white; 
}
 .toolbarIcon
/* All of the selectors for the icons go here */
{
        background-image: url('../images/gui/toolbar/toolbar_24x24.png'); /* mega-image */
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        text-align: center;
}
.preferencesIcon {  background-position:    0px; }
.deployIcon      {  background-position:  -24px; }
.deleteIcon      {  background-position:  -48px; }
.previewIcon     {  background-position:  -72px; }
.saveIcon        {  background-position:  -96px; }
.homeIcon        {  background-position: -120px; }
.plannerIcon     {  background-position: -144px; }


/********************
 * Menu             *
 ********************/

.dijitMenuItemIcon.menuIcon
/* All of the selectors for the icons go here */
{
        background-image: url('../images/gui/menu/menu_16x16.png'); /* mega-image */
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        text-align: center;
}
.aboutMenuIcon { background-position:    -16px;}

/******************
 * workspace	  *
 ******************/
#workspace {
    padding: 0;
    border: 0;
}
.document {
    position: absolute;
    width:100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align:center;
    overflow: hidden;
}
.documentTitle {
    font-size: 30px;
    margin: 5px;
    color: #243C5F;
    font-weight: bold;
}
.canvas .view {
    margin: 0px;
}

.domainConcept .fact {
    margin: 0px;
}

/******************
 * welcome doc	  *
 ******************/
.welcome #intro {
    margin: 10px;
    font-size: 16px;
    
}
.welcome {
    padding-top: 20px;
    background: transparent url("../images/gui/document/welcomeBackground.png") repeat;

    
}
.welcome button {
    width: 200px;
}
/******************
 * screenflow doc *
 ******************/

.document.screenflow, .document.screenDoc {
    background: transparent url("../images/gui/document/grid.png") repeat;
}

/******************
 * plans          *
 ******************/
.panel {
    background: white;
    position:relative;
    width:100%;
    z-index:100;
}
.panel > div {
    border: 1px solid #808080;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 2px;
}
.panel .text {
    text-align: justify;
    margin:0px auto;
    padding: 5px;
}
.panel .button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 15px;
    width: 15px;
    background: transparent url("../js/lib/dojo/dijit/themes/soria/images/spriteRoundedIconsSmall.png") no-repeat scroll -60px top;
}

.panel .button:hover {
    cursor:pointer;
}
.panel .planZone {
    margin: 3px;
    border: 1px solid #959595;
    height: 125px;
    overflow: auto;
    width: 97%;
    padding: 5px;
    
}

.plan.view {
    border: 1px dashed #959595;
    margin: 3px;
    -moz-border-radius: 7px 7px;
    -webkit-border-radius: 7px 7px;
    overflow: hidden;
    background-color: #EAEAEA;
    cursor: move;
}

.plan.view .screen.view {
    float: left;
    clear: none;
    margin: 3px;
    background-color: transparent;
}

/******************
 * screen doc     *
 ******************/
.soria .document.screenDoc .dijitSplitterV {
    width: 0px;
}
.soria .document.screenDoc .dijitSplitterH {
    height: 0px;
}

.dropArea {
    position:absolute;
    border: 2px dotted #AAA;
    overflow: hidden;
}
.dropArea.form {
    height: 20%;
    top: 0px;
    left: 10%;
    right: 10%;
}
.dropArea.operator {
    top: 20%;
    bottom: 25%;
    left: 10%;
    right: 10%;
}
.dropArea.resource {
    height: 25%;
    bottom: 0px;
    left: 10%;
    right: 10%;
}
.dropArea.pre {
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 10%;
}

.dropArea.post {
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 10%;
}

.WireIt-Terminal {
    background: none !important;
}


/******************
 * deployment     *
 ******************/

.detailsTitle {
    margin-top: 2px;
    font-family: helvetica, sans-serif;
    font-size: 30px;
    position: relative;
    font-weight:bold;
}

.deployment .properties {
    font-weight: bold;
    color: #243C5F;
    overflow: visible;
}

.deployment .tableHeader {
    background-color: #BED7F0;
    border-top: 1px solid grey;
    width:0;
}

.deployment .tableHeader td {
    padding: 3px;
}

.deployment .mashup {
    font-weight: bold;
}

.deployment table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 10px;
}

.deployment table td {
    border-bottom: 1px solid grey;
    padding: 1px;
}

.deployment .left {
    font-weight: bold;
    border: 1px solid grey;
}


/******************
 * palette	  *
 ******************/

.paletteSeparator {
    clear: both;
    width: 100%;
}
.paletteElement {
    width:100%;
}
.paletteContent {
    margin:5px;
}

/******************
 * palette components *
 ******************/
.view {
    padding: 0px;
    margin: 0px 5px 5px 0px;
    text-align:center;
    font-weight: bold;
    float: left;
    clear: both;
    cursor: move;
}
.view.disabled {
    opacity:0.4;
    -moz-opacity:0.4;
    filter:alpha(opacity=40);
}
.slot {
    overflow: hidden;
}

.slotTitle {
    padding-top: 1ex;
}

.prePostSeparator {
        position: absolute;
        right: 50%;
        left: 50%;
        border-left: 1px dashed #aaa;
    }
    /*******************
    * screen component *
    *******************/
    .screen{
        width: 100px;
        height: 80px;
        background-color:white;
        position: relative;
        -moz-border-radius: 7px 7px;
        -webkit-border-radius: 7px 7px;
        border: 1px solid #808080;
    }

    .screen.satisfeable {
        border: 1px solid green;
    }

    .screen.unsatisfeable {
        border: 1px solid #B90000;
    }

    .screen .title {
        height:15px;
        width:100%;
        padding-top:3px;
        color:white;
        font-weight:normal;
        -moz-border-radius:3px 3px 0 0;
        -webkit-border-top-left-radius:3px; 
        -webkit-border-top-right-radius:3px;
        background-color: #808080;
    }

    .screen .image{
        height:65%;
        position:relative;
        top: 10px;
    }

    .screen.satisfeable .title {
        background-color: green;
    }

    .screen.unsatisfeable .title {
        background-color: #B90000;
    }

    .screen .preArea, .screen .postArea {
        position:absolute;
        top:18px;
        bottom: 0;
        margin:0;
    }
    .screen .preArea {
        left: 0;
        right: 50%;
    }

    .screen .postArea {
        left: 70%;
        right: 0;
    }

    
    .screen .prePostSeparator {
        top: 18px;
        bottom: 0px;    
    }
    
    .screen.satisfeable.selected {
        background-color: #DDF7DD;
    }

    .screen.selected .title {
        font-weight: bold;
    }


    .screen.unsatisfeable.selected {
        background-color: #F5D9D9;
    }

/******************
 * resource       *
 ******************/
.view.resource {
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border:2px solid #808080;
    height:62px;
    margin:5px;
    padding:0;
    position:relative;
    width:125px;    
}
.resource .title {
    background-color:#808080;
    bottom:0;
    color:white;
    height:24px;
    left:0;
    line-height:20px;
    overflow: hidden;
    padding-top: 5px;
    position:absolute;
    right:0;
    text-align: center;  
}
.resource .prePostSeparator {
    top: 0px;
    bottom: 24px;
} 

.resource .preArea, .resource .postArea {
    height:55%;
    margin: auto;
}
.resource .preArea {
    float: left;
}
.resource .postArea {
    float: right;
}
.resource .fact {
    padding: 5px;
    text-align: center;
    float: left;
}
/*********************
 * properties tables *	 
 *********************/
.properties_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    border-left: 1px solid #808080;
}
.properties_table td {
    border-bottom: 1px solid #808080;
    padding: 3px;
    text-align: center;
    border-right: 1px solid #808080;
    overflow: auto;
    max-width:80px;
}

.properties_table td div {
    overflow: hidden;
    margin: 0px auto;
}

.tableHeader td {
    background-color: #BED7F0;
    border-top: 1px solid #808080;
    font-weight:bold;
}
/******************
 * facts		  *
 ******************/
.inline_fact {
    width: 17px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin-left: 1px;
    font-weight: bold;
    font-size: 10px;
    color: white;
    background: url("../images/facts/15x15/grey.png") no-repeat center center;
}
.inline_fact.satisfeable {
    background: url("../images/facts/15x15/green.png") no-repeat center center;
}
.inline_fact.unsatisfeable {
    background: url("../images/facts/15x15/red.png") no-repeat center center;
}
.embedded_fact{
    width: 22px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-left: 3px;
    font-weight: bold;
    color: white; 
    background: url("../images/facts/20x20/grey.png") no-repeat center center;
}
.satisfeable .embedded_fact {
    background: url("../images/facts/20x20/green.png") no-repeat center center;
}
.unsatisfeable .embedded_fact {
    background: url("../images/facts/20x20/red.png") no-repeat center center;
}
.embedded_fact.satisfeable  {
    background: url("../images/facts/20x20/green.png") no-repeat center center;
}
.embedded_fact.unsatisfeable {
    background: url("../images/facts/20x20/red.png") no-repeat center center;
}
.standalone_fact{
    width: 27px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-left: 3px;
    font-weight: bold;
    color: #808080; 
    background: url("../images/facts/25x25/grey.png") no-repeat center center;
}
.satisfeable .standalone_fact {
    background: url("../images/facts/25x25/green.png") no-repeat center center;
    color: #068106; 
}
.unsatisfeable .standalone_fact {
    background: url("../images/facts/25x25/red.png") no-repeat center center;
    color: #B90000; 
}
.selected .standalone_fact {
    background: url("../images/facts/25x25/grey_selected.png") no-repeat center center;
    color: #EAEAEA; 
}
.satisfeable.selected .standalone_fact {
    background: url("../images/facts/25x25/green_selected.png") no-repeat center center;
    color: #ddf7dd; 
}
.unsatisfeable.selected .standalone_fact {
    background: url("../images/facts/25x25/red_selected.png") no-repeat center center;
    color: #f5d9d9; 
}


/*************
 *  Dialogs  *
 *************/

label {
    float:left;
    margin-top:3px;
    width:130px;
}
.dialogButtonZone {
    text-align: center;
    margin-top: 5px;
}

.dialogButtonZone span { /* Buttons */
   margin: 0px 2px; 
}

.dialogContent {
    padding: 5px;
    min-width: 400px;
}

.line {
    margin-bottom:10px;
}

.line input, .line div.dijitTextBox /*Dijit inputs*/{
    width: 250px;
}

.systemDialog {
    text-align:center;
    min-width: 250px;
}

.preview {
    margin: 0px auto;
    text-align: center;    
}
.preview .error {
    margin: 10px;
    font-size: 14pt;
    font-weight: bold;
    color: red;
}
/***************
 * About       *
 ***************/
#about {
    text-align: center;
}
