{% extends "tests/base.html" %}
{% block classpath %}
        <style>
            #canvas {
                height: 120%;
            }
        </style>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/dragndrop/DragHandler.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/dragndrop/DragSource.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/dragndrop/Area.js"></script>
        
        <!-- Descriptions -->   
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/BuildingBlockDescription.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/DomainConceptDescription.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/ResourceDescription.js"></script>
        
        <!-- Palette component classes -->    
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/palette/PaletteComponent.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/palette/DomainConceptComponent.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/palette/ResourceComponent.js"></script>
            
        <!-- Building Block view classes -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/views/BuildingBlockView.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/views/DomainConceptView.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/views/ResourceView.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/views/Terminal.js"></script>
            
        <!-- Fact classes -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/facts/Fact.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/facts/FactFactory.js"></script>  
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/facts/FactIcon.js"></script>
            
        <!-- Component instance classes -->
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/ComponentInstance.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/PrePostInstance.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/ResourceInstance.js"></script>

        <script type="text/javascript">
            var DumbInferenceEngine = Class.create({
                addReachabilityListener: function(){},
                removeReachabilityListener: function(){}
            });
            
            var instances = new Array();
            
            function drop(area, instance) {
                var node = instance.getView().getNode();
                area.getNode().appendChild(node);      
                var canvasPosition = Utils.getPosition(area.getNode());
                node.setStyle({
                    'left': parseInt(node.offsetLeft - canvasPosition.left) + "px",
                    'top': parseInt(node.offsetTop - canvasPosition.top) + "px"
                });
                if (area.getNode().className.include("pre")) {
                    instance.setType("pre");
                    instance.createTerminal(pipeHandler);
                } else if (area.getNode().className.include("post")) {
                    instance.setType("post");
                    instance.createTerminal();
                }
                if (instance.constructor == ResourceInstance) {
                    instance.createTerminals(pipeHandler);
                }
                instance.enableDragNDrop(area,[area]);
                instance.getView().addGhost();
                instances.push(instance);
                return true;              
            }
            
            function pipeHandler (event, params, added) {
                var wire = params[0];
                if (wire.terminal1.parentEl && wire.terminal2.parentEl) {
                    if (added) {
                        console.log ('Pipe Added');
                    } else {
                        console.log ('Pipe Removed');
                    }
                    console.log ('  Source:' + wire.terminal1.getResourceId());
                    console.log ('       +:' + wire.terminal1.getConditionId());
                    console.log ('  Destination:' + wire.terminal2.getResourceId());
                    console.log ('            +:' + wire.terminal2.getConditionId());
                }
            }
            
            var pipesVisible = true;
            
            function togglePipes(buttonNode) {
                var style;
                if (pipesVisible) {
                    pipesVisible = false;
                    buttonNode.innerHTML = "Show Pipes";
                    style = {"display": "none"}
                } else {
                    pipesVisible = true;
                    buttonNode.innerHTML = "Hide Pipes";
                    style = {"display": "block"}
                }
                $$(".WireIt-Terminal, .WireIt-Wire").each(function(element){
                    element.setStyle(style);
                });
            }
            
            function onScroll() {
                instances.each(function(instance) {
                    instance.onScroll();    
                });
            }
        </script>
{% endblock %}

{% block onload %}
        
        
        /// Dropping areas
        var formArea = new Area('form', $A([Constants.BuildingBlock.FORM]), drop);
        var operatorArea = new Area('operator', $A([Constants.BuildingBlock.OPERATOR]), drop);
        var resourceArea = new Area('resource', $A([Constants.BuildingBlock.RESOURCE]), drop);
        var preArea = new Area('pre', $A([Constants.BuildingBlock.DOMAIN_CONCEPT]), drop);
        var postArea = new Area('post', $A([Constants.BuildingBlock.DOMAIN_CONCEPT]), drop);
        
        var areas = $A([formArea, operatorArea, resourceArea, preArea, postArea]);
        
        // Adding the dropping areas to the document
        areas.each(function(area) {
            $("canvas").appendChild(area.getNode());
        }.bind(this));
        
        $("padre").observe("scroll", onScroll);
        
        var inferenceEngine = new DumbInferenceEngine();
        
        // Domain Concept
        var dcDescription = new DomainConceptDescription({
            "http://purl.oclc.org/fast/ontology/gadget#hasTag": [
              "amazon",
              "search"
            ],
            "http://www.w3.org/2000/01/rdf-schema#label": "Search criteria",
            "uri": "http://aws.amazon.com/AWSECommerceService#SearchCriteria",
            "id": "SearchCriteria#1"
          });
        var domainConcept = new DomainConceptComponent(dcDescription, [preArea, postArea], inferenceEngine);
        $("instances").appendChild(domainConcept.getNode());
        
        
        // Resource
        var rDescription = new ResourceDescription({
             
              "description": {"en-gb": "This is a description of the building block"},
              "domainContext": {
                "tags": [
                  "ebay",
                  "amazon",
                ],
                "user": null
              },
              "icon": "someuri",
              "id": "Service1",
              "label": {"en-gb": "Service 1"},
              "name": "Amazon Item to Ebay Filter",
              "rights": "http://creativecommons.org/",
              "screenshot": "http://www.deri.ie/eBayList-screenshot.jpg",
              "type": "resource", // screenflow, screen, form, operator y resource
              "uri": "http://purl.oclc.org/fast/ontology/gadget#xxx1257870443525",
              "version": "1.0",
              "actions": [{
                    "name": "filter",
                    "preconditions": [{
                      "id": "item",
                      "label": {"en-gb": "Ebay List"},
                      "pattern": "?Item http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://aws.amazon.com/AWSECommerceService#Item",
                      "positive": true
                    }],
                    "uses": []
                  }],
                  "libraries": [],
                  "postconditions": [{
                    "id": "filterEbay",
                    "label": {"en-gb": "Ebay List"},
                    "pattern": "?eFilter http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://developer.ebay.com/DevZone/shopping/docs/CallRef/FindItemsAdvanced.html#Request",
                    "positive": true
                  }],
                  "triggers": ["itemAmazon"]
        });
        var resource = new ResourceComponent(rDescription, [resourceArea], inferenceEngine);
        $("instances").appendChild(resource.getNode());
        
{% endblock %}

{% block test_body %}
<h1>Test Piping</h1>
<h2>Dragables</h2>
<div id="instances" class="paletteContent" style="overflow:hidden"></div>
<h2>Drop zones</h2>
<button onclick="togglePipes(this);"> Hide Pipes </button>
<div id="padre" style="height: 500px; width:80%;position:relative; overflow: auto">
    <div id="canvas" class="document screendoc canvas" ></div>
</div>
<div id="footer" style="position: relative; width:100%; height:300px; background-color: white; border:1px solid black; " class="inspectorLayer">
 Class inspectorLayer and relative positioning
</div>
{% endblock %}