<h1 class="detailsTitle">Deployment Information</h1>
<div class="deployment">
<table>
    <tbody>
        <tr class="tableHeader">
            <td class="left">Mashup Platform</td>
            <td class="left">Gadget Template/Code Link</td>
            <td class="left"></td>
        </tr>
        <tr>
            <td class="mashup">EzWeb</td>
            <td><a href="{{ ezwebGadgetURL }}">{{ ezwebGadgetURL }}</a></td>
            <td>
                <button id="ezwebButton" dojoType="dijit.form.Button" onclick="Utils.ezWebDeploy('{{ ezwebURL }}/interfaces/gadget', '{{ ezwebGadgetURL }}');" label="Deploy it">Deploy it</button>
            </td>
        </tr>
        <tr>
            <td class="mashup">iGoogle</td>
            <td>Deployment information not available</td>
            <td>
                <button id="igoogleButton" dojoType="dijit.form.Button" onclick="alert('Deployment service not available');" label="Deploy it">Deploy it</button>
            </td>
        </tr>
        <tr>
            <td class="mashup">Beemway</td>
            <td>Deployment information not available</td>
            <td>
                <button id="beemwayButton" dojoType="dijit.form.Button" onclick="alert('Deployment service not available');" label="Deploy it">Deploy it</button>
            </td>
        </tr>
    </tbody>
</table>
</div>