{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>FAST: Gadget Visual Storyboard</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}images/gui/favicon.ico" />

        <!-- WireIt -->
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/lib/wireit/lib/yui/fonts/fonts-min.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/lib/wireit/lib/yui/reset/reset-min.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/lib/wireit/css/WireIt.css" />

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/lib/dojo/dijit/themes/soria/soria.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/lib/dojo/dojo/resources/dojo.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/gvs.css" />

        <script type="text/javascript">
        /* <![CDATA[ */
           //Dojo Configuration parameters
            var djConfig = {
                isDebug:false,
                parseOnLoad:true
            };


        /* ]]> */
        </script>

        <!-- General utilities -->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/utils/browserfixes.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/utils/json2.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/utils/shortcut.js"></script>

        <!-- Excanvas -->
        <!--[if IE]><script type="text/javascript" src="./WireIt-0.5.0/lib/excanvas.js"></script><![endif]-->

        <!-- WireIt -->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/wireit/lib/yui/utilities/utilities.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/wireit/js/WireIt.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/wireit/js/Layer.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/wireit/js/Container.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/wireit/js/CanvasElement.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/wireit/js/Wire.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/wireit/js/Terminal.js"></script>

        <!-- Dojo -->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dojo/dojo/dojo.js"></script>

        <!-- Prototype -->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.improvements.js"></script>

        <!-- Browser checker -->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/gvs/utils/BrowserChecker.js"></script>

        <!-- Graceful degradation of firebug console -->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/utils/firebugx.js"></script>

        <!-- URI constants -->
        <script type="text/javascript">

            var browser = new BrowserChecker();

            var URIs = new Object();
            URIs.absolutePath = window.location.protocol + "//" + window.location.host + "/";
            URIs.store = "storage/";
            URIs.getStore = "storage/?screenflow=<screenflow_id>";
            URIs.storePlayScreenflow = "storage/player";
            // Catalogue URIs
            URIs.catalogue = "catalogue";
            URIs.catalogueScreens = "catalogue/screens";
            URIs.catalogueGetMetadata = "catalogue/getmetadata";
            URIs.catalogueCreateScreen = "catalogue/screens";
            URIs.catalogueAllConcepts = "catalogue/concepts";
            URIs.catalogueTagConcepts = "catalogue/tags/<tags>/concepts";
            URIs.cataloguePlanner = "catalogue/planner";
            // Screenflow design
            URIs.catalogueScreenflowFind = "catalogue/screens/find";
            URIs.catalogueScreenflowFindCheck = "catalogue/screens/findcheck";
            URIs.catalogueScreenflowCheck = "catalogue/screens/check";
            // Screen design
            URIs.catalogueScreenFind = "catalogue/components/find";
            URIs.catalogueScreenFindCheck = "catalogue/components/findcheck";
            URIs.catalogueScreenCheck = "catalogue/components/check";
            // GVS
            URIs.buildingblock = "buildingblock/";
            URIs.share = "buildingblock/<id>/sharing";
            URIs.screen = "buildingblock/screen";
            URIs.screenSearch = URIs.screen + "/search";
            URIs.screenflow = "buildingblock/screenflow";
            URIs.screenflowSearch = URIs.screenflow + "/search";
            URIs.operator = "buildingblock/operator";
            URIs.resource = "buildingblock/resource";
            URIs.form = "buildingblock/form";
            URIs.operatorSearch = URIs.operator + "/search";
            URIs.resourceSearch = URIs.resource + "/search";
            URIs.formSearch = URIs.form + "/search";
            URIs.userPreferences = "user/preferences";
            URIs.logoFast = "{{ MEDIA_URL }}images/gui/fastLogo.png";
            URIs.screenImageNotFound = "{{ MEDIA_URL }}images/gui/imageNotFound.png";
            URIs.about = "{{ MEDIA_URL }}resources/about.html";
            URIs.pre = "catalogue/preconditions/";
            URIs.post = "catalogue/postconditions/";

            URIs.debugger = "debugger/";

            // Proxy
            URIs.proxy = "proxy";

            URIs.ezweb = "{{ EZWEB_URL }}";

            URIs.wrapperService = "{{ WRAPPER_SERVICE_URL }}";

            var GlobalOptions = new Object();

            // Only include the checked and finished features
            GlobalOptions.isPublicDemo = false;

        {% if isLocalStorage %}
            GlobalOptions.isLocalStorage = true;
        {% else %}
            GlobalOptions.isLocalStorage = false;
        {% endif %}

        </script>

        <!-- GVS Code -->
        {% if only_one_js_file %}
            <script type="text/javascript" src="{{ MEDIA_URL }}js/fast.js"></script>
        {% else %}
            {% include "js_list.html" %}
        {% endif %}

        <!-- We tell Dojo to load the needed modules -->
        <script type="text/javascript">
        /* <![CDATA[ */
            if (!browser.isIE()) {
                // We load Dojo's code relating to the needed components
                // ... typical UI Components
                dojo.require("dijit.form.Form");
                dojo.require("dijit.form.TextBox");
                dojo.require("dijit.form.CheckBox");
                dojo.require("dijit.form.ValidationTextBox");
                dojo.require("dijit.form.SimpleTextarea");
                dojo.require("dijit.form.Button");
                dojo.require("dijit.Tooltip");
                dojo.require("dijit.MenuBar");
                dojo.require("dijit.MenuBarItem");
                dojo.require("dijit.PopupMenuBarItem");
                dojo.require("dijit.Menu");
                dojo.require("dijit.MenuItem");
                dojo.require("dijit.PopupMenuItem");
                dojo.require("dijit.Toolbar");
                dojo.require("dijit.ToolbarSeparator");
                dojo.require("dijit.Tooltip");

                // ... layouts used in page
                dojo.require("dijit.layout.AccordionContainer");
                dojo.require("dijit.layout.ContentPane");
                dojo.require("dijit.layout.TabContainer");
                dojo.require("dijit.layout.BorderContainer");
                dojo.require("dijit.Dialog");
                dojo.require("dojox.layout.ContentPane");

                // ... other functions
                dojo.require("dojox.fx");

                // ... the parser
                dojo.require("dojo.parser");

                // Arming the GVS initialization method
                dojo.addOnLoad(function() {
                    GVS.init();
                    // FIXME: there is a problem rendering the different
                    // sections programatically. Repaint for better
                    // performance
                    dijit.byId("main").layout();
                });

                // Handling navigator close
                window.onbeforeunload = function(evt) {
                    // TODO: call the server and save whatever necessary
                    var saved = true;
                    if (!saved) {
                        var message = 'Are you sure you want to leave?';
                        if (typeof evt == 'undefined') {
                            evt = window.event;
                        }
                        if (evt) {
                            evt.returnValue = message;
                        }
                        return message;
                    }
                }

                window.onunload = function() {
                    // Do something
                }
            } else {
                // IE
                window.onload = function() {
                    document.getElementById("main").innerHTML = "";
                }
            }
        /* ]]> */
        </script>
    </head>

    <body class="soria">
        <!--[if IE]>
            <center>
            <p style="font-size: 24px;color:#243C5F;font-weight:bold">
                Your browser is still not supported, please download the latest version
            of Mozilla Firefox
            </p>
            <a href="http://getfirefox.com/" title="Get Firefox - The Browser, Reloaded.">
            <img src="{{ MEDIA_URL }}images/gui/getfirefox.png"
                border="0" alt="Get Firefox"
                style="margin:20px auto 0; display: block;" />
            </a>
            </center>
        <![endif]-->
        <!-- Setting the layout of the page. -->
        <div id="main" dojoType="dijit.layout.BorderContainer"
                        liveSplitters="true" design="headline" splitter="true" gutter="true">
            <!-- Header -->
            <div id="header" dojoType="dijit.layout.ContentPane" region="top">
                <img src="{{ MEDIA_URL }}images/gui/fastLogo_small.png" class="fastLogo" alt="FAST Logo"/>
                <div id="messages" class="hidden"></div>
                <div id="greeting">
                        <div>
                          {% if is_anonymous %}{% trans "anonymous" %}
                          </div> | <a href="/accounts/login/?next=/">{% trans "Sign in" %}</a>
                          {% else %} {% trans "Welcome" %}, {{ user.username }} |
                          <a id="logout" href="/logout">{% trans "Exit" %}</a></div>
                          {% endif %}
                </div>
                <!-- Menu area -->
                <div id="menu" dojoType="dijit.MenuBar">
                </div>
                <div id="toolbar" dojoType="dijit.Toolbar">
                </div>
            </div>

            <!-- Workspace area -->
            <div dojoType="dijit.layout.TabContainer" id="documentContainer" region="center">
                <!--<iframe id="prueba" dojoType="dijit.layout.ContentPane" src="http://www.marca.com" title="myPage" style="display: none;border:0px; width:100%; height:100%">

                </iframe>-->
            </div>
            <!-- end of Document area -->
        </div>
    </body>
</html>
<!-- vim: set ts=4 sw=4 et:  -->
