{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>FAST: Gadget Visual Storyboard</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
        /*<![CDATA[*/
            @import "{{ MEDIA_URL }}js/lib/dojo/dijit/themes/soria/soria.css";
            @import "{{ MEDIA_URL }}js/lib/dojo/dojo/resources/dojo.css";
        /*]]>*/
        </style>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/gvs.css" />

        <script type="text/javascript">
        /* <![CDATA[ */
           //Dojo Configuration parameters
            var djConfig = {
                isDebug:false, parseOnLoad:true
            };
        /* ]]> */
        </script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/dojo/dojo/dojo.js"></script>
        
        <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype/prototype.js"></script>

        <!-- graceful degradation of firebugs console obj --> 
        <script type="text/javascript" src="http://www.getfirebug.com/firebug/firebugx.js"></script>

        <!-- URI constants -->
        <script type="text/javascript" language="javascript">
            _URIConstants = function(){}
            _URIConstants.prototype.deploy = "/deploy/";
			_URIConstants.prototype.deployEzwebGadget = "/deploy/ezweb";
            _URIConstants.prototype.catalogueScreens = "catalogue/screens";
            _URIConstants.prototype.catalogueFind = "catalogue/find";
            _URIConstants.prototype.catalogueFindAndCheck = "catalogue/findandcheck";
            _URIConstants.prototype.catalogueCheck = "catalogue/check";
            _URIConstants.prototype.catalogueGetMetadata = "catalogue/getmetadata";
            _URIConstants.prototype.catalogueGetFacts = "catalogue/getFacts";
            _URIConstants.prototype.catalogueFlow = "{{CATALOGUE_FLOW}}";
            _URIConstants.prototype.catalogueCreateScreen = "catalogue/createscreen";
            _URIConstants.prototype.catalogueGetDomainConcepts = "catalogue/getdomainconcepts"
            _URIConstants.prototype.userPreferences = "user/preferences"
            
            _URIConstants.prototype.logoFast = "{{ MEDIA_URL }}images/gui/fastLogo.png";

            var URIs = new _URIConstants();
        </script>

        <!-- GVS Code -->
        <!-- Drag n Drop support -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/dragndrop/DragHandler.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/dragndrop/DragSource.js"></script>
        
        <!-- Catalogue Classes -->
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/Catalogue.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/BuildingBlockDescription.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/BuildingBlockFactory.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/ScreenDescription.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/ScreenFactory.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/ConnectorDescription.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/ConnectorFactory.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/DomainConceptDescription.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/DomainConceptFactory.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/catalogue/ScreenflowDescription.js"></script>
        
        <!-- Document classes -->
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/documents/AbstractDocument.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/documents/WelcomeDocument.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/documents/DocumentController.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/documents/ScreenflowDocument.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/documents/DeploymentDocument.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/documents/PreviewDocument.js"></script> 
    
        <!-- Fact classes -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/facts/Fact.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/facts/FactFactory.js"></script>  
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/facts/FactIcon.js"></script>

        <!-- Component instance classes -->
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/ComponentInstance.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/ScreenInstance.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/ConnectorInstance.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/DomainConceptInstance.js"></script>

        <!-- Palette classes -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/palette/Palette.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/palette/PaletteComponent.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/palette/PaletteController.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/palette/ScreenComponent.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/palette/ConnectorComponent.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/palette/DomainConceptComponent.js"></script>

        <!-- Building Block view classes -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/views/BuildingBlockView.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/views/ScreenView.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/views/ConnectorView.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/views/DomainConceptView.js"></script>

        <!-- Persistence Engine class -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/persistenceEngine/PersistenceEngine.js"></script>
            
        <!-- Preferences -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/preferences/Preferences.js"></script>

        <!-- Miscelaneous utilities -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/utils/UIDGenerator.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/utils/BrowserUtils.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/utils/UIUtils.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/utils/Utils.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/utils/FormDialog.js"></script>

        <!-- GVS Entry point -->
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/GVS.js"></script>
        
        <!-- We tell Dojo to load the needed modules -->
        <script type="text/javascript">
        /* <![CDATA[ */

            // We load Dojo's code relating to the needed components
            // ... typical Components
            dojo.require("dijit.form.TextBox");
            dojo.require("dijit.form.Button");
            dojo.require("dijit.InlineEditBox");
            dojo.require("dijit.Tooltip");
            
            // ... layouts used in page
            dojo.require("dijit.layout.SplitContainer");
            dojo.require("dijit.layout.AccordionContainer");
            dojo.require("dijit.layout.ContentPane");
            dojo.require("dijit.layout.TabContainer");
            dojo.require("dijit.layout.BorderContainer");
            dojo.require("dijit.Toolbar");
            dojo.require("dijit.Dialog");
            dojo.require("dojo.parser"); 

            // Arming the GVS initialization method
            dojo.addOnLoad(function() {
                GVSSingleton.getInstance().init();
                var prefs = PreferencesSingleton.getInstance();
                //Adding the events
                dojo.connect(dojo.byId("showDeployGadgetDialog"),"onclick", GVSSingleton.getInstance().getDocumentController().showDeployCurrentDocDialog.bind(GVSSingleton.getInstance().getDocumentController()));
                dojo.connect(dojo.byId("toolbar.preferences"),"onclick", prefs.showDialog.bind(prefs));
            });

        /* ]]> */
        </script>
    </head>

    <body class="soria">
        <!-- Setting the layout of the page. --> 
        <div id="main" dojoType="dijit.layout.BorderContainer" liveSplitters="false" design="headline" splitter="false" gutter="false">
            
            <!-- Header -->
            <div id="header" dojoType="dijit.layout.ContentPane" region="top">
                <img src="{{ MEDIA_URL }}images/gui/fastLogo.png" alt="FAST Logo"/> 
                <h1>Gadget Visual Storyboard</h1>
                <div id="header_button"><button id="showDeployGadgetDialog" dojoType="dijit.form.Button" label="Create Gadget!"></button></div>
                <div id="greeting">
						<span id="user_section">
						  {% if is_anonymous %}{% trans "anonymous" %}</span> | <a href="/accounts/login/?next=/">{% trans "Sign in" %}</a>
						  {% else %} {% trans "Welcome" %}, {{ user.username }} | <a href="/logout">{% trans "Exit" %}</a></span>
						  {% endif %}
				</div>
                <!-- Menu area -->
                <div id="menu" dojoType="dijit.Toolbar">
                    <div dojoType="dijit.form.Button" id="toolbar.preferences" iconClass="dijitToolbarIcon dijitToolbarIconPreferences" showLabel="false">Preferences</div>
                </div>
            </div>  
            
            <!-- Workspace area -->

                
            <!-- CENTER part: Document area -->
            <div dojoType="dijit.layout.TabContainer" id="documentContainer" region="center">

            </div> 
            <!-- end of Document area -->
        </div>
    </body>
</html>
<!-- vim: set ts=4 sw=4 et:  -->
