<!--.............................licence...........................................

    (C) Copyright 2011 FAST Consortium

     This file is part of FAST Platform.

     FAST Platform is free software: you can redistribute it and/or modify
     it under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     FAST Platform is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU Affero General Public License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with FAST Platform.  If not, see <http://www.gnu.org/licenses/>.

     Info about members and contributors of the FAST Consortium
     is available at

     http://fast.morfeo-project.eu

...............................licence...........................................-->
{% extends "tests/base.html" %}
{% block classpath %}
        <style>
            .slot {
                width: 400px;
                float: left;
            }
            #padre {
                border: 2px dotted #AAA;
            }
        </style>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/dragndrop/DragHandler.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/dragndrop/DragSource.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/dragndrop/Area.js"></script>
        
        <!-- Descriptions -->   
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/BuildingBlockDescription.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/catalogue/DomainConceptDescription.js"></script>
        
        <!-- Palette component classes -->    
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/palette/PaletteComponent.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/palette/DomainConceptComponent.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/palette/ResourceComponent.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/palette/OperatorComponent.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/palette/FormComponent.js"></script>
            
        <!-- Building Block view classes -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/views/BuildingBlockView.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/views/DomainConceptView.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/views/ResourceView.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/views/OperatorView.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/views/FormView.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/views/FormSnapshotView.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/views/ActionView.js"></script>        
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/piping/Terminal.js"></script>
            
        <!-- Fact classes -->
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/facts/Fact.js"></script>
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/facts/FactFactory.js"></script>  
        <script type="text/javascript" 
            src="{{ MEDIA_URL }}js/gvs/facts/FactIcon.js"></script>
            
        <!-- Component instance classes -->
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/ComponentInstance.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/PrePostInstance.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/ResourceInstance.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/OperatorInstance.js"></script>
        <script type="text/javascript"
            src="{{ MEDIA_URL }}js/gvs/instances/FormInstance.js"></script>

        <script type="text/javascript">
            var DumbInferenceEngine = Class.create({
                addReachabilityListener: function(){},
                removeReachabilityListener: function(){}
            });
            function onScroll() {
                instances.each(function(instance) {
                    instance.onScroll();    
                });
            }
            
            var instances = new Array();
            var uidGenerator = UIDGeneratorSingleton.getInstance();
            var formInstance = false;
            
            function drop(area, instance) {
                if (instance.constructor == FormInstance) {
                    if (formInstance) {
                        return false;    
                    } else {
                        formInstance = true;
                    }
                    
                }
                var node = instance.getView().getNode();
                area.getNode().appendChild(node);      
                var canvasPosition = Utils.getPosition(area.getNode());
                node.setStyle({
                    'left': parseInt(node.offsetLeft - canvasPosition.left) + "px",
                    'top': parseInt(node.offsetTop - canvasPosition.top) + "px"
                });
                instance.getBuildingBlockDescription().id =  uidGenerator.generate(instance.getTitle());
                
                if (instance.constructor != PrePostInstance) {
                    instance.createTerminals(pipeHandler);
                } else {
                    if (area.getNode().className.include("pre")) {
                        instance.setType("pre");
                        instance.createTerminal(pipeHandler);
                    } else if (area.getNode().className.include("post")) {
                        instance.setType("post");
                        instance.createTerminal();
                    }
                }
                
                instance.enableDragNDrop(area,[area]);
                instance.getView().addGhost();
                
                instances.push(instance);
                return true;              
            }
            
            function pipeHandler (event, params, added) {
                var wire = params[0];
                if (wire.terminal1.parentEl && wire.terminal2.parentEl) {
                    if (added) {
                        console.log ('Pipe Added');
                    } else {
                        console.log ('Pipe Removed');
                    }
                    console.log ('  Source:' + wire.terminal1.getResourceId());
                    console.log ('       +:' + wire.terminal1.getConditionId());
                    console.log ('  Destination:' + wire.terminal2.getResourceId());
                    console.log ('            +:' + wire.terminal2.getConditionId());
                }
            }
            var scroll = false;
            function toggleScroll(buttonNode) {
                if (scroll) {
                    scroll = false;
                    $("canvas").setStyle({'height': '100%'});
                    buttonNode.innerHTML = "Show Scroll";
                } else {
                    scroll = true;
                    $("canvas").setStyle({'height': '120%'});
                    buttonNode.innerHTML = "Hide Scroll";
                }
                onScroll();
            }
            
            /*var pipesVisible = true;
            
            function togglePipes(buttonNode) {
                var style;
                if (pipesVisible) {
                    pipesVisible = false;
                    buttonNode.innerHTML = "Show Pipes";
                    style = {"display": "none"}
                } else {
                    pipesVisible = true;
                    buttonNode.innerHTML = "Hide Pipes";
                    style = {"display": "block"}
                }
                $$(".WireIt-Terminal, .WireIt-Wire").each(function(element){
                    element.setStyle(style);
                });
            }*/
            
            
        </script>
{% endblock %}

{% block onload %}
        
        
        /// Dropping areas
        var formArea = new Area('form', $A([Constants.BuildingBlock.FORM]), drop);
        var operatorArea = new Area('operator', $A([Constants.BuildingBlock.OPERATOR]), drop);
        var resourceArea = new Area('resource', $A([Constants.BuildingBlock.RESOURCE]), drop);
        var preArea = new Area('pre', $A([Constants.BuildingBlock.DOMAIN_CONCEPT]), drop);
        var postArea = new Area('post', $A([Constants.BuildingBlock.DOMAIN_CONCEPT]), drop);
        
        var areas = $A([formArea, operatorArea, resourceArea, preArea, postArea]);
        
        // Adding the dropping areas to the document
        areas.each(function(area) {
            $("canvas").appendChild(area.getNode());
        }.bind(this));
        
        $("padre").observe("scroll", onScroll);
        
        var inferenceEngine = new DumbInferenceEngine();
        
        // Domain Concept
        var dcDescription = new DomainConceptDescription({
            "http://purl.oclc.org/fast/ontology/gadget#hasTag": [
              "amazon",
              "search"
            ],
            "http://www.w3.org/2000/01/rdf-schema#label": "Search criteria",
            "uri": "http://aws.amazon.com/AWSECommerceService#SearchCriteria"
          });
        var domainConcept = new DomainConceptComponent(dcDescription, [preArea, postArea], inferenceEngine);
        $("instances").appendChild(domainConcept.getNode());
        
        
        // Resource
        var rDescription = new BuildingBlockDescription(
         {      
            "name":"Amazon Lookup Service",
            "code":"http://localhost:8010/resources/amazonLookupService.src.js",
            "creationDate":"2009-04-20T17:00:00+0100",                          
            "creator":"http://www.fabio.es/",                                   
            "description":{                                                     
                "en-gb":"This service search information about an Amazon product"
            },                                                                   
            "domainContext":{                                                    
                "tags":[                                                         
                    "amazon",                                                    
                    "product"                                                    
                ],                                                               
                "user":"admin"                                                   
            },                                                                   
            "homepage":"http://www.deri.ie/amazonLookupService",                 
            "icon":"http://localhost:8010/images/catalogue/amazonLookupService.png",
            "label":{
                "en-gb":"Amazon Lookup Service"
            },
            "rights":"http://creativecommons.org/",
            "screenshot":"http://www.deri.ie/amazonLookupService.jpg",
            "version":"1.0",
            "libraries":[
                {
                    "language":"JavaScript",
                    "source":"http://piccolo.ls.fi.upm.es/amazonURL/signAmazonURLs.js"
                },
                {
                    "language":"JavaScript",
                    "source":"http://piccolo.ls.fi.upm.es/amazonURL/jssha2/sha2.js"
                }
            ],
            "actions":[
                {
                    "name":"searchProduct",
                    "preconditions":[
                        {
                            "id":"item",
                            "label":{
                                "en-gb":"An Amazon item"
                            },
                            "pattern":"?Item http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://aws.amazon.com/AWSECommerceService#Item"
                        }
                    ],
                    "uses":[
        
                    ]
                }
            ],
            "postconditions":
                [[
                    {
                        "id":"product",
                        "label":{
                            "en-gb":"An item"
                        },
                        "pattern":"?Item http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://aws.amazon.com/AWSECommerceService#Item",
                        "positive":"true"
                    },
                    {
                        "id":"message",
                        "label":{
                            "en-gb":"A message"
                        },
                        "pattern":"?Message http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://aws.amazon.com/AWSECommerceService#Message"
                    }
                ]],
            "triggers":[
                "newProduct"
            ]                  
        });
        var resource = new ResourceComponent(rDescription, [resourceArea], inferenceEngine);
        $("instances").appendChild(resource.getNode());
        
        var oDescription = new BuildingBlockDescription(
        {                                                                                            
            "name":"Amazon Item to Ebay Filter",                                                     
            "code":"http://localhost:8010/operators/amazonEbayFilter.src.js",                        
            "creationDate":"2009-04-20T18:00:00+0200",                                               
            "creator":"http://www.fabio.es/",
            "description":{
                "en-gb":"This operator generates an eBay filter from a Amazon item"
            },
            "domainContext":{
                "tags":[
                    "ebay",
                    "amazon",
                    "filter"
                ],
                "user":"admin"
            },
            "homepage":"http://www.deri.ie/eBayList",
            "icon":"http://localhost:8010/images/catalogue/eBayList.png",
            "label":{
                "en-gb":"Ebay List"
            },
            "rights":"http://creativecommons.org/",
            "screenshot":"http://www.deri.ie/eBayList-screenshot.jpg",
            "version":"1.0",
            "libraries":[
        
            ],
            "actions":[
                {
                    "name":"createFilter",
                    "preconditions":[
                        {
                            "id":"item",
                            "label":{
                                "en-gb":"An item"
                            },
                            "pattern":"?Item http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://aws.amazon.com/AWSECommerceService#Item",
                            "positive":"true"
                        }
                    ],
                    "uses":[
        
                    ]
                }
            ],
            "postconditions":[
                [
                    {
                        "id":"filterEbay",
                        "label":{
                            "en-gb":"An eBay filter"
                        },
                        "pattern":"?eFilter http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://developer.ebay.com/DevZone/shopping/docs/CallRef/FindItemsAdvanced.html#Request",
                        "positive":"true"
                   }
                       
                ]
            ],
            "triggers":[
                "filterEbay"
            ]
        }
        );
        var operator = new OperatorComponent(oDescription, [operatorArea], inferenceEngine);
        $("instances").appendChild(operator.getNode());
        
        
        var fDescription = new BuildingBlockDescription({                                                                                          
            "name":"Amazon Shopping Form",                                                         
            "code":"http://localhost:8010/forms/amazonShopping.src.html",                          
            "creationDate":"2009-04-20T17:00:00+0100",                                             
            "creator":"http://www.fabio.es/",                                                      
            "description":{                                                                        
                "en-gb":"This screen shows the list of products added to the user shopping cart. It allows users to update product quantity and clear the cart."                                  
            },                                                                                       
            "domainContext":{                                                                        
                "tags":[                                                                             
                    "amazon",                                                                        
                    "cart"                                                                           
                ],                                                                                   
                "user":"admin"                                                                       
            },                                                                                       
            "homepage":"http://www.deri.ie/amazonShopping",                                          
            "icon":"http://piccolo.ls.fi.upm.es:8010/images/catalogue/amazonShopping.png",                      
            "label":{                                                                                
                "en-gb":"Shopping Cart"                                                              
            },                                                                                       
            "rights":"http://creativecommons.org/",                                                  
            "screenshot":"http://piccolo.ls.fi.upm.es:8010/images/screenshots/amazonShoppingCart.png",                             
            "version":"1.0",                                                                         
            "libraries":[                                                                            
                                                                                                     
            ],                                                                                       
            "actions":[                                                                              
                {                                                                                    
                    "name":"init",                                                                   
                    "preconditions":[                                                                
                                                                                                     
                    ],                                                                               
                    "uses":[                                                                         
        
                    ]
                },
                {
                    "name":"showTable",
                    "preconditions":[
                        {
                            "id":"list",
                            "label":{
                                "en-gb":"A product list"
                            },
                            "pattern":"?PList http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://aws.amazon.com/AWSECommerceService#ProductList",
                            "positive":"true"
                        }
                    ],
                    "uses":[
        
                    ]
                }
            ],
            "postconditions":[
                [
                    {
                        "id":"updateCart",
                        "label":{
                            "en-gb":"A shopping cart update"
                        },
                        "pattern":"?UCart http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://aws.amazon.com/AWSECommerceService#UpdatingCart",
                        "positive":"true"
                    },
                    {
                        "id":"purchase",
                        "label":{
                            "en-gb":"A purchase"
                        },
                        "pattern":"?Purchase http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://aws.amazon.com/AWSECommerceService#PurchaseURL",
                        "positive":"true"
                    },
                    {
                        "id":"item",
                        "label":{
                            "en-gb":"An item"
                        },
                        "pattern":"?Item http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://aws.amazon.com/AWSECommerceService#Item",
                        "positive":"true"
                    }
                ]
            ],
            "triggers":[
                "purchase",
                "clearCart",
                "updateCart",
                "newItem"
            ]
        });
        var form = new FormComponent(fDescription, [formArea], inferenceEngine);
        $("instances").appendChild(form.getNode());
        
{% endblock %}

{% block test_body %}
<h1>Test Piping</h1>
<h2>Dragables</h2>
<div id="instances" class="paletteContent" style="overflow:hidden"></div>
<h2>Drop zones</h2>
<!-- <button onclick="togglePipes(this);"> Hide Pipes </button> -->
<button onclick="toggleScroll(this);"> Show Scroll </button> 
<div id="padre" style="height: 500px; width:80%;position:relative; overflow: auto">
    <div id="canvas" class="document screendoc canvas" ></div>
</div>
<div id="footer" style="position: relative; width:100%; height:300px; background-color: white; border:1px solid black; " class="inspectorLayer">
 Class inspectorLayer and relative positioning
</div>
{% endblock %}