<!--.............................licence...........................................

    (C) Copyright 2011 FAST Consortium

     This file is part of FAST Platform.

     FAST Platform is free software: you can redistribute it and/or modify
     it under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     FAST Platform is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU Affero General Public License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with FAST Platform.  If not, see <http://www.gnu.org/licenses/>.

     Info about members and contributors of the FAST Consortium
     is available at

     http://fast.morfeo-project.eu

...............................licence...........................................-->
{% extends "tests/base.html" %}
{% block classpath %}
     
<script type="text/javascript">
    StaticClass = Class.create();
    // Static attributes
    Object.extend(StaticClass, {
        
        'stringAttr': 'a string',

        'arrayAttr': new Array()
    });
    // Static methods
    Object.extend(StaticClass, {
       
        'hello': function() {
            return "Hello World";
        },

        'useStatic': function() {
            return this.stringAttr;
        },

        'getSize': function() {
            return this.arrayAttr.size();
        },

        'addElement': function() {
            this.arrayAttr.push("bleh");
        }
    })

</script>
{% endblock %}

{% block onload %}

    new Test("Test 1: Static method without data", function() {
        Test.assertEquals(StaticClass.hello(),"Hello World");
    }).execute();

    new Test("Test 2: Static attributes", function() {
        Test.assertEquals(StaticClass.useStatic(),"a string");
    }).execute();

    new Test("Test 3: Modifying static attributes", function() {
        Test.assertEquals(StaticClass.getSize(), 0);
        StaticClass.addElement();
        Test.assertEquals(StaticClass.getSize(), 1);
    }).execute();
        
{% endblock %}

{% block test_body %}
<h1>Look at the console</h1>
{% endblock %}