<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CatalogueService</display-name>
	<servlet>
		<description></description>
		<display-name>ScreenflowServlet</display-name>
		<servlet-name>ScreenflowServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.ScreenflowServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ScreenServlet</display-name>
		<servlet-name>ScreenServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.ScreenServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>FormElementServlet</display-name>
		<servlet-name>FormElementServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.FormElementServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>OperatorServlet</display-name>
		<servlet-name>OperatorServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.OperatorServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>BackendServiceServlet</display-name>
		<servlet-name>BackendServiceServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.BackendServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ConceptServlet</display-name>
		<servlet-name>ConceptServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.ConceptServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PreconditionServlet</display-name>
		<servlet-name>PreconditionServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.PreconditionServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PostconditionServlet</display-name>
		<servlet-name>PostconditionServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.PostconditionServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>FindServlet</display-name>
		<servlet-name>FindServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.FindServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>CheckServlet</display-name>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.CheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>FindCheckServlet</display-name>
		<servlet-name>FindCheckServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.FindCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>MetadataServlet</display-name>
		<servlet-name>MetadataServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.MetadataServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>OntologyServlet</display-name>
		<servlet-name>OntologyServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.OntologyServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PlannerServlet</display-name>
		<servlet-name>PlannerServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.server.PlannerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScreenflowServlet</servlet-name>
		<url-pattern>/screenflows/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScreenServlet</servlet-name>
		<url-pattern>/screens/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormElementServlet</servlet-name>
		<url-pattern>/forms/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OperatorServlet</servlet-name>
		<url-pattern>/operators/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BackendServiceServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConceptServlet</servlet-name>
		<url-pattern>/concepts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreconditionServlet</servlet-name>
		<url-pattern>/preconditions/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostconditionServlet</servlet-name>
		<url-pattern>/postconditions/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConceptServlet</servlet-name>
		<url-pattern>/tags/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindServlet</servlet-name>
		<url-pattern>/find</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindCheckServlet</servlet-name>
		<url-pattern>/findcheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MetadataServlet</servlet-name>
		<url-pattern>/getmetadata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OntologyServlet</servlet-name>
		<url-pattern>/ontologies</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlannerServlet</servlet-name>
		<url-pattern>/planner</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
