<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CatalogueService</display-name>
	<listener>
		<listener-class>eu.morfeoproject.fast.catalogue.services.ApplicationServletContext</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>ScreenflowServlet</display-name>
		<servlet-name>ScreenflowServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.ScreenflowServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ScreenServlet</display-name>
		<servlet-name>ScreenServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.ScreenServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>FormServlet</display-name>
		<servlet-name>FormServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.FormServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>OperatorServlet</display-name>
		<servlet-name>OperatorServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.OperatorServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>BackendServiceServlet</display-name>
		<servlet-name>BackendServiceServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.BackendServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ConceptServlet</display-name>
		<servlet-name>ConceptServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.ConceptServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ScreenFindCheckServlet</display-name>
		<servlet-name>ScreenFindCheckServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.ScreenFindCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ScreenComponentFindCheckServlet</display-name>
		<servlet-name>ScreenComponentFindCheckServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.ScreenComponentFindCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>MetadataServlet</display-name>
		<servlet-name>MetadataServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.MetadataServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>OntologyServlet</display-name>
		<servlet-name>OntologyServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.OntologyServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PlannerServlet</display-name>
		<servlet-name>PlannerServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.PlannerServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>CopyServlet</display-name>
		<servlet-name>CopyServlet</servlet-name>
		<servlet-class>eu.morfeoproject.fast.catalogue.services.CopyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScreenflowServlet</servlet-name>
		<url-pattern>/screenflows/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScreenServlet</servlet-name>
		<url-pattern>/screens/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormServlet</servlet-name>
		<url-pattern>/forms/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OperatorServlet</servlet-name>
		<url-pattern>/operators/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BackendServiceServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConceptServlet</servlet-name>
		<url-pattern>/concepts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConceptServlet</servlet-name>
		<url-pattern>/tags/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScreenFindCheckServlet</servlet-name>
		<url-pattern>/screens/findcheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScreenComponentFindCheckServlet</servlet-name>
		<url-pattern>/components/findcheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MetadataServlet</servlet-name>
		<url-pattern>/getmetadata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OntologyServlet</servlet-name>
		<url-pattern>/ontologies</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlannerServlet</servlet-name>
		<url-pattern>/planner</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CopyServlet</servlet-name>
		<url-pattern>/copies</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
