<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ gadgetTitle }}</title>
<link rel="stylesheet" type="text/css" href="{{ gadgetUri }}/resources/menu/css/menu.css" />
<SCRIPT language="javascript" src="{{ gadgetUri }}/js/fast/menu.js"></SCRIPT>
<SCRIPT language="javascript" src="{{ gadgetUri }}/js/fast/screenflowEngine.js"></SCRIPT>
<SCRIPT language="javascript" src="{{ gadgetUri }}/js/prototype/prototype.js"></SCRIPT>
<SCRIPT language="javascript" src="{{ gadgetUri }}/js/fastAPI/fastAPI.js"></SCRIPT>
<SCRIPT language="javascript" src="{{ gadgetUri }}/js/fastAPI/fastAPI_ezweb.js"></SCRIPT>
<SCRIPT language="javascript" src="/ezweb/js/EzWebAPI/EzWebAPI.js"></SCRIPT>
<SCRIPT language="javascript">
	var menu = null;
	var screens = [
{# Here the screens involved inside the gadget are defined #}
{% load fastFilters %}
{% for screen in gadgetScreens %}
		{id:"{{ screen.label|cut:" " }}",
		title: "{{ screen.label|cut:" " }}",
        contentEl:"{{ screen.label|cut:" " }}",
        {# TODO: negative facts #}
        pre: [{% for pre in screen.preconditions %}{name:'{{ pre }}', positive:true}{% if not forloop.last %}, {% endif %}{% endfor %}]}{% if not forloop.last %},{% endif %}
{% endfor %}
		];

	var _io = new FastAPI.IO();

{% for slot in gadgetSlots %}
    var {{ slot.variableName }} = _io.createInVariable("{{ slot.variableName }}", set{{ slot.variableName }});
    function set{{ slot.variableName }}(val){
        var fact = ScreenflowEngineFactory.getInstance().transformFact("{{ slot.semantics }}", "{{ slot.factAttr }}", val);
        ScreenflowEngineFactory.getInstance().manageVarFacts([fact],[]);
    }
{% endfor %}

    var events = [
{% for event in gadgetEvents %}
    {variable: _io.createOutVariable("{{ event.variableName }}"), fact_name: "{{ event.semantics }}", fact_attr: "{{ event.factAttr }}"}{% if not forloop.last %},{% endif %}
{% endfor %}
		];

	function loadMenu(){
		menu = new FASTMenu({renderTo: "menu"});
	    
		ScreenflowEngineFactory.getInstance().setEngine(screens, events, menu);
	    
		ScreenflowEngineFactory.getInstance().run();
	}
</SCRIPT>
</head>
<body style="margin:1;padding:1;" onload="javascript:loadMenu();">
<div id="menu"></div>
{# TODO: screen in screens should have a code field #}
{% for screen in gadgetScreens %}
<div id="{{ screen.label|cut:" " }}" class="tabcontentHide">
    <object id="{{ screen.label|cut:" " }}_obj" width="100%" height="100%">
        {{ screen.allCode|safe }}
    </object>
</div>
{% endfor %}
</body>
</html>

