<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ gadgetTitle }}</title>
<link rel="stylesheet" type="text/css" href="{{ gadgetUri }}/resources/menu/css/menu.css" />
<SCRIPT language="javascript" src="{{ gadgetUri }}/js/fast/menu.js"></SCRIPT>
<SCRIPT language="javascript" src="{{ gadgetUri }}/js/fast/engine.js"></SCRIPT>
<SCRIPT language="javascript" src="{{ gadgetUri }}/js/prototype/prototype.js"></SCRIPT>
<SCRIPT language="javascript" src="{{ gadgetUri }}/js/fastAPI/fastAPI.js"></SCRIPT>
<SCRIPT language="javascript" src="{{ gadgetUri }}/js/fastAPI/fastAPI_ezweb.js"></SCRIPT>
<SCRIPT language="javascript" src="/ezweb/js/EzWebAPI/EzWebAPI.js"></SCRIPT>
<SCRIPT language="javascript">
	var menu = null;
	var screens = new Hash();
{# Here the screens involved inside the gadget are defined #}
{% load fastFilters %}
{% for screen in gadgetScreens %}
    screens.set("{{ screen.label|cut:" " }}",
        {title: "{{ screen.label|cut:" " }}",
        contentEl:"{{ screen.label|cut:" " }}",
        pre: [{% for pre in screen.preconditions %}'{{ pre }}'{% if not forloop.last %}, {% endif %}{% endfor %}]});
{% endfor %}

    var events = new Hash();

{# TODO: Fix the slot/events #}
{% for slot in gadgetSlots %}
{% comment %}
    var {{ slot.name }} = EzWebAPI.createRGadgetVariable("{{ slot.name }}",set{{ slot.name }});
    function set{{ slot.name }}(val){
        var fact = EngineFactory.getInstance().transformFact("{{ slot.fact_name }}", "{{ slot.fact_attr }}", val);
        EngineFactory.getInstance().manageVarFacts([fact],[]);
    }
{% endcomment %}
{% endfor %}

{% for event in gadgetEvents %}
{% comment %}
    var {{ event.name }} = EzWebAPI.createRWGadgetVariable("{{ event.name }}");
    getEventVariables(events, "{{ event.fact_name }}").set("{{ event.name }}", {variable: {{ event.name }}, fact_attr: "{{ event.fact_attr }}"});
{% endcomment %}
{% endfor %}

	function loadMenu(){
		menu = new FASTMenu({renderTo: "menu"});
	    
	    EngineFactory.getInstance().setEngine(screens, events, menu);
	    
	    EngineFactory.getInstance().run();
	}
</SCRIPT>
</head>
<body style="margin:1;padding:1;" onload="javascript:loadMenu();">
<div id="menu"></div>
{# TODO: screen in screens should have a code field #}
{% for screen in gadgetScreens %}
<div id="{{ screen.label|cut:" " }}" class="tabcontentHide">
    <object id="{{ screen.label|cut:" " }}_obj" width="100%" height="100%">
        {{ screen.allCode|safe }}
    </object>
</div>
{% endfor %}
</body>
</html>

