body {
    width: 80%;
    margin: 0pt auto;
    font-family: sans-serif;
}
h1, h2, h3, h4, h5 {
    color: #059;
    line-height: 1.3;
    color: #005599;
}
h1, h2 {
    border-bottom: 1pt solid black;
}
h1 {
    margin: 1ex 0 1ex -4%;
}
h2 {
    margin: 1ex 0;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: #005599;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: #005599;
}
ul {
    list-style-image: url("images/bullet.png");
    text-align: justify;
}
ul li {
    padding-top: 0.4ex;
}
code {
    color: #005599;
}
dl {
    width: 80%;
    margin: 0 auto;
    border: 1pt solid #888;
    padding: 1ex;
}
dt {
    color: #005599;
    font-weight: bold;
}
dd {
    text-align: justify;
    padding: 0.5ex;
}


/** Common properties */
.caption {
    margin-top: 1ex;
    font-size: 85%;
    text-align: center;
}
.wrap-left {
    float: left;
    margin: 2ex 5ex;
}

/** TOC */
.toc {
    width: 60%;
    margin: 2ex 0ex;;
    padding: 1ex;
    border: 1pt solid #005599;
    font-size: 90%;
}
.toc .toctitle {
    color: #005599;
    font-weight: bold;
    font-size: 120%;
}

.toc ul {
    list-style-type: decimal;
    list-style-image: none;
    padding-left: 3ex;
}
.toc li {
    padding-top: 0.4ex;
    line-height: 98%;
}



/** Figures */
.figure {
    text-align: center;
}


/** Code */
.codehilite {
    width: 80%;
    margin: 2ex auto;
}
.codehilite pre {
    border: 1pt solid #888;
    padding: 2ex;
    overflow: auto;
}

/** Blockquote */
blockquote p {
    margin: 1em 1.5em;
    padding-left: 5.5ex;
    background: transparent url("images/quote.gif") no-repeat; 
    color: #929292;
    font-style: italic;   
} 

/** Info */
.info, .warning {
    width: 75%;
    margin: 2ex auto;
    padding: 2ex 2ex 2ex 10ex;
    text-align: justify;
    font-size: 90%;
    line-height: 98%;
}

.title {
    font-weight: bold;
    margin-bottom: 0.5ex;
}

.info {
    border: 1pt solid #005599;
    background: url("images/info.png") no-repeat 2ex center #D0D6E4;
    color: #005599; 
}
.warning {
    border: 1pt solid #EBD22E;
    background: url("images/warning.png") no-repeat 2ex center #FFF7C5;
    color: #CAB52E; 
}
