.ddcolortabs{
padding: 0;
width: 100%;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.ddcolortabs ul{
font: normal 11px tahoma,arial,helvetica;
margin:0;
padding:0;
list-style:none;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
}


.ddcolortabs a{
float:left;
background: #DEECFD url(../images/color_tabs_left.gif) no-repeat left top;
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
color: #416AA3;
font-weight: bold;
border-bottom: 1px solid #8DB2E3;
}

.ddcolortabs a span{
float:left;
display:inline;
background: transparent url(../images/color_tabs_right.gif) no-repeat right top;
padding: 4px 6px 2px 4px;
white-space: nowrap;
}

.ddcolortabs a:hover{
color: #15428B;
font-weight: bold;
cursor:pointer;
text-decoration: none;
}

.ddcolortabs a:hover span{
color: #15428B;
font-weight: bold;
cursor:pointer;
text-decoration: none;
}

.ddcolortabs a.current, #ddcolortabs a.current span{ /*currently selected tab*/
font-weight: bold;
color: #15428B;
background-color: #8DB2E3;
}

.ddcolortabsline{
clear: both;
padding: 0;
width: 100%;
height: 2px;
line-height: 8px;
background: #8DB2E3;
border-top: 1px solid #FFFFFF; /*Remove this to remove border between bar and tabs*/
position: relative;
}

.contentcontainer{
clear: left;
position: relative;
}

.tabcontentHide{
display:none;
}

.tabcontentShow{
display:inline;
}

/* Debugger */
.logger {
    height: 25%;
    overflow: auto;
    background-color: #EEE;
    border: 1px solid #AAA;
    padding: 2px 5px;
    margin: 2px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-size: 80%;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.group {
    margin-left: 15px;
    border: 1px solid #CCC;
    padding: 5px;
}

.groupButton {
    float: left;
    margin-right: 3px;
    width: 12px;
    cursor: pointer;
}
.groupTitle {
    font-weight: bold;
    margin-bottom: 3px;
}
